@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

     *:focus {
          outline: none;
     }

     body {
          width: 100%;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          font-family: theme('fontFamily.body');
          font-weight: 400;
          background-color: theme('colors.white');
     }

     html {
          @apply scroll-smooth text-[80%] md:text-[90%] lg:text-[95%] xl:text-[100%];
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
          @apply font-bold font-[theme('fontFamily.heading')];
     }

     h1 {
          @apply text-5xl;
     }

     h2 {
          @apply text-4xl;
     }
  
     h3 {
          @apply text-3xl;
     }
  
     h4 {
          @apply text-2xl;
     }
  
     h5 {
          @apply text-xl;
     }
  
     h6 {
          @apply text-lg;
     }
}


@layer components {

     .product-card-header {
          @apply relative;
     }
     
     .product-card-body {
          @apply flex flex-col space-y-2 py-3;
     }
     
     .product-card-price-container {
          @apply flex items-center space-x-2;
     }
     
     .product-card-title {
          @apply text-gray-700 hover:text-primary transition-colors duration-150 capitalize tracking-normal;
     }
     
     .product-card-price {
          @apply font-semibold font-heading inline-block px-1;
     }
     
     .product-card-price--sale {
          @apply text-sm text-gray-800;
     }
     
     .product-card-price--regular {
          @apply text-xs text-danger-600 line-through decoration-danger-600;
     }
     
     .product-card-badge {
          @apply bg-primary text-white font-heading px-4 py-1 inline-block tracking-wide text-sm capitalize absolute top-4 right-4;
     }
     
     .product-card-btn-container {
          @apply hidden space-y-3 absolute top-1/2 right-6 -translate-y-1/2 bg-black bg-opacity-25;
     }
     
     .product-card-btn {
          @apply text-white hover:bg-white hover:text-black transition-colors duration-150 inline-block p-2 rounded-full;
     }

     .product-card-header:hover .product-card-btn-container {
          @apply flex flex-col;
     }
     
     
     .blog-card {
          @apply rounded-sm border-0 shadow-lg shadow-gray-200 border-black;
     }

     .blog-card-header  {
          @apply relative;
     }

     .blog-card-body {
          @apply p-4;
     }

     .blog-card-footer {
          @apply p-4 pb-8 border-0 border-black;
     }

     .blog-card-title {
          @apply mb-2 text-gray-700 hover:text-primary hover:underline hover:decoration-2 hover:decoration-primary hover:underline-offset-4 transition-colors duration-150;
     }

     .blog-card-excerpt {
          @apply  text-gray-500 tracking-wide leading-relaxed;
     }

     .blog-card-meta {
          @apply  my-4;
     }

     .blog-card-meta-list {
          @apply flex space-x-4;
     }

     .blog-card-meta-list-item {
          @apply flex items-center space-x-2 border-0 border-black;
     }

     .blog-card-meta-list-item {
          @apply flex items-center space-x-2 border-0 border-black;
     }

     .blog-card-img {
          @apply block object-cover;
     }

     .blog-card-img--thumb {
          @apply w-full h-auto;
     }
     
     .blog-card-img--author {
          @apply w-7 h-7 border border-primary rounded-full object-top;
     }

     .blog-card-link {
          @apply inline-block;
     }

     .blog-card-link--author {
          @apply text-sm text-gray-500 font-heading hover:text-primary transition-colors duration-150;
     }

     .blog-card-link--readmore {
          @apply border-0 border-black inline-flex items-center space-x-1 font-semibold text-gray-500 hover:text-primary capitalize tracking-wide transition-colors duration-150;
     }

     .blog-card-text--date {
          @apply text-sm text-gray-500 font-heading hover:text-gray-800 transition-colors duration-150;
     }

     .blog-card-icon--date {
          @apply w-4 h-4;
     }

     .blog-card-icon--chevron-right {
          @apply w-3 h-3;
     }

     .blog-card-badge {
          @apply text-sm capitalize tracking-wide bg-primary text-white px-4 rounded-full py-1 inline-block absolute  bottom-5 left-5  z-50;
     }

     .page-section--overview .page-grid {
          @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-8;
     }

     .page-section--overview .page-grid > .page-grid-col:not(:last-child) {
          @apply relative after:content-[''] after:w-10 after:h-[3px] after:hidden md:after:inline-block after:bg-primary after:absolute after:top-1/2 after:left-[105.5%]  after:-translate-x-1/2 after:-translate-y-1/2 after:rotate-90;
     }

}



